.home {
  color: #868686;
  font-style: italic;
  margin-top: 71px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.home h3 {
  color: #707070;
  font-size: 24px;
}

.home p {
  font-size: 17px;
}

.rigthSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstLine {
  display: flex;
  width: 700px;
  gap: 15px;
  align-items: center;
}

.buttonsHome {
  display: flex;
  gap: 20px;
}

.buttonsHome button {
  height: 34px;
  width: 113px;
}

.lotofacil {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #7F3992;
  border-radius: 100px;
  color: #7F3992;
  font-size: 14px;
  font-weight: bold;
}

.lotofacil:active {
  background: #7F3992 0% 0% no-repeat padding-box;
  border: 2px solid #7F3992;
  color: #FFFFFF;
}

.megasena {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #01AC66;
  border-radius: 100px;
  color: #01AC66;
  font-size: 14px;
  font-weight: bold;
}

.megasena:active {
  background: #01AC66 0% 0% no-repeat padding-box;
  border: 2px solid #01AC66;
  color: #FFFFFF;
}

.lotomania {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #F79C31;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  color: #F79C31;
}

.lotomania:active {
  background: #F79C31 0% 0% no-repeat padding-box;
  border: 2px solid #F79C31;
  color: #FFFFFF;
}

.leftSide h3 {
  color: #B5C401;
  margin-right: 11px;
}

.leftSide a {
  color: #B5C401;
  display: flex;
  margin-right: 196px;
  align-items: center;
}