.home {
  color: #868686;
  font-style: italic;
  margin-top: 71px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.home h3 {
  color: #707070;
  font-size: 24px;
}

.home p {
  font-size: 17px;
}

.rigthSide {
  display: flex;
  flex-direction: column;
}

.firstLine {
  display: flex;
  width: 700px;
  gap: 15px;
  align-items: center;
}

.firstLine p {
  margin-left: 30px;
}

.buttonsHome {
  display: flex;
  gap: 20px;
}

.buttonsHome li {
  list-style: none;
}

.listHome {
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.listHome h3 {
  font-size: 20px;
}

.leftSide h3 {
  color: #B5C401;
  margin-right: 11px;
}

.leftSide a {
  color: #B5C401;
  display: flex;
  margin-right: 196px;
  align-items: center;
}