.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-style: italic;
  font-family: "Helvetica Neue";
  height: 100vh;
}

.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 146px;
  font-size: 35px;
}

h3 {
  font-size: 35px;
  text-align: center;
  color: #707070;
}

.containerReset {
  width: 352px;
  height: 194px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000014;
  border: 1px solid #DDDDDD;
  border-radius: 14px;
}

.inputReset{
  border-bottom: 2px solid #EBEBEB;
  width: 352px;
  height: 72px;
  display: flex;
  align-items: center;
}

.inputReset input {
  font-size: 17px;
  color: #9D9D9D;
  font-style: italic;
  border: none;
  padding-left: 30px;
  font-weight: bold;
}

.buttonReset {
  color: #B5C401;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.buttonReset h3 {
  color: #B5C401;
}

.backButtonReset a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
  gap: 16px;
}